@font-face {
  font-family: 'ToruIcons';
  src:  url('fonts/ToruIcons.eot?cs7wuk');
  src:  url('fonts/ToruIcons.eot?cs7wuk#iefix') format('embedded-opentype'),
    url('fonts/ToruIcons.ttf?cs7wuk') format('truetype'),
    url('fonts/ToruIcons.woff?cs7wuk') format('woff'),
    url('fonts/ToruIcons.svg?cs7wuk#ToruIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ToruIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-twitch:before {
  content: "\e936";
}
.ti-sidebar-show:before {
  content: "\e938";
}
.ti-sidebar-hide:before {
  content: "\e939";
}
.ti-sidebar:before {
  content: "\e93d";
}
.ti-monitor:before {
  content: "\e93e";
}
.ti-linux:before {
  content: "\e93a";
}
.ti-ipad-h:before {
  content: "\e93b";
}
.ti-ipad:before {
  content: "\e93c";
}
.ti-safari-solid:before {
  content: "\e940";
}
.ti-brush:before {
  content: "\e937";
}
.ti-archive:before {
  content: "\e92c";
}
.ti-database:before {
  content: "\e92d";
}
.ti-heart-off:before {
  content: "\e92e";
}
.ti-heart:before {
  content: "\e92f";
}
.ti-smartphone:before {
  content: "\e930";
}
.ti-shield-close:before {
  content: "\e931";
}
.ti-shield-off:before {
  content: "\e932";
}
.ti-shield-check:before {
  content: "\e933";
}
.ti-shield-alert:before {
  content: "\e934";
}
.ti-shield:before {
  content: "\e935";
}
.ti-apps:before {
  content: "\e92a";
}
.ti-lock:before {
  content: "\e924";
}
.ti-password:before {
  content: "\e925";
}
.ti-check-circle:before {
  content: "\e926";
}
.ti-bell-off:before {
  content: "\e927";
}
.ti-bell-active:before {
  content: "\e928";
}
.ti-bell:before {
  content: "\e929";
}
.ti-mail:before {
  content: "\e92b";
}
.ti-id:before {
  content: "\e923";
}
.ti-settings:before {
  content: "\e902";
}
.ti-fingerprint:before {
  content: "\e906";
}
.ti-help:before {
  content: "\e907";
}
.ti-hash:before {
  content: "\e908";
}
.ti-link:before {
  content: "\e90f";
}
.ti-minus:before {
  content: "\e910";
}
.ti-minus-circle:before {
  content: "\e911";
}
.ti-alert:before {
  content: "\e912";
}
.ti-alert-triangle:before {
  content: "\e913";
}
.ti-alert-diamond:before {
  content: "\e914";
}
.ti-alert-circle:before {
  content: "\e915";
}
.ti-close:before {
  content: "\e916";
}
.ti-close-circle:before {
  content: "\e917";
}
.ti-user-circle:before {
  content: "\e918";
}
.ti-trash:before {
  content: "\e919";
}
.ti-plus-circle:before {
  content: "\e91a";
}
.ti-plus:before {
  content: "\e91b";
}
.ti-pin:before {
  content: "\e91c";
}
.ti-pencil:before {
  content: "\e91d";
}
.ti-info-circle:before {
  content: "\e91e";
}
.ti-eye-hide:before {
  content: "\e91f";
}
.ti-eye:before {
  content: "\e920";
}
.ti-external-link:before {
  content: "\e921";
}
.ti-check:before {
  content: "\e922";
}
.ti-options-horizontal:before {
  content: "\e900";
}
.ti-options-vertical:before {
  content: "\e901";
}
.ti-sun:before {
  content: "\e903";
}
.ti-login:before {
  content: "\e904";
}
.ti-exit:before {
  content: "\e905";
}
.ti-language:before {
  content: "\e909";
}
.ti-arrow-up:before {
  content: "\e90a";
}
.ti-arrow-down:before {
  content: "\e90b";
}
.ti-arrow-right:before {
  content: "\e90c";
}
.ti-arrow-left:before {
  content: "\e90d";
}
.ti-moon:before {
  content: "\e90e";
}
.ti-google:before {
  content: "\ea88";
}
.ti-facebook:before {
  content: "\ea90";
}
.ti-facebook-solid:before {
  content: "\ea91";
}
.ti-instagram:before {
  content: "\ea92";
}
.ti-whatsapp:before {
  content: "\ea93";
}
.ti-spotify:before {
  content: "\ea94";
}
.ti-youtube:before {
  content: "\ea9d";
}
.ti-dribbble:before {
  content: "\eaa7";
}
.ti-github:before {
  content: "\eab0";
}
.ti-npm:before {
  content: "\eab1";
}
.ti-apple:before {
  content: "\eabe";
}
.ti-finder:before {
  content: "\eabf";
}
.ti-android:before {
  content: "\eac0";
}
.ti-windows:before {
  content: "\eac1";
}
.ti-windows8:before {
  content: "\eac2";
}
.ti-soundcloud:before {
  content: "\eac3";
}
.ti-soundcloud-solid:before {
  content: "\eac4";
}
.ti-skype:before {
  content: "\eac5";
}
.ti-linkedin-solid:before {
  content: "\eac9";
}
.ti-linkedin:before {
  content: "\eaca";
}
.ti-stackoverflow:before {
  content: "\ead0";
}
.ti-pinterest-solid:before {
  content: "\ead1";
}
.ti-pinterest:before {
  content: "\ead2";
}
.ti-paypal:before {
  content: "\ead8";
}
.ti-chrome:before {
  content: "\ead9";
}
.ti-firefox:before {
  content: "\eada";
}
.ti-ie:before {
  content: "\eadb";
}
.ti-safari:before {
  content: "\eadd";
}
.ti-opera:before {
  content: "\eade";
}
.ti-git:before {
  content: "\eae7";
}
.ti-codepen:before {
  content: "\eae8";
}
